header{
    background-color: rgb(2, 2, 3);
    width: 45%;
    height: 110px;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 0px 60px 0px 60px;
    padding-top: 1.5%;
    padding-bottom: 1%;
}
header > h1{
    color: rgb(151, 186, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30%;
}
#is-nombrePag{
    color: rgb(142, 224, 74);
    font-style: oblique;
}
nav{
    background-color: rgb(26, 44, 2);
}
nav > ul > li > a{
    color: white;
}
.container{
    background-color: rgba(192, 192, 192, 0.3);
    max-width: 95%;
}

footer{
    background-color: rgb(26, 44, 2);
    display: flex;
    justify-content: center;
}
footer > h6{
    color: white;
}