<nav>
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        </svg></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Zapatillas</a>
          <a class="dropdown-item" href="#">Ropa</a>
          <a class="dropdown-item" href="#">Accesorios</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link">Ofertas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
    </ul>
</nav>
<section id="section-btnUsr">
  <app-usuario-btn></app-usuario-btn>
</section>
<div class="container">
    <header>
        <h1><span id="is-nombrePag">SUPER</span>  Kloked</h1>
    </header>
    <section id="section-carrito">
        <app-carrito-compras></app-carrito-compras>
    </section>
    <section id="section-galeria">
        <app-galeria-imagenes></app-galeria-imagenes>
    </section>
    <section id="section-info">
        <app-galeria-info></app-galeria-info>
    </section>
    <section id="section-masElegido">
        <app-list-lomaselegido></app-list-lomaselegido>
    </section>
    <article id="article-publicidad">
        <app-colum-publicidad></app-colum-publicidad>
    </article>
</div>
<footer>
  <h6>Footer</h6>
</footer>