header > h1{
    margin-left: 100px;
    color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    width: 90%;
    margin-left: 10%;
    background-color: rgba(192, 192, 192, 0.8);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "galeria galeria"
                          "info info"
                          "masElegido publicidad";
}
#section-galeria{
    grid-area: galeria;
}
#section-info{
    grid-area: info;
}
#section-masElegido{
    grid-area: masElegido;
}
#article-publicidad{
    grid-area: publicidad;
}